html,body{
	background:#000;
}
.blocky{
display:block!important;
}

.is-fullwidth{
    width:100%;
}

.pokey{
	cursor:pointer;
}
.neur-field{
	position:absolute;
	width:100vw;
	height:120vh;
	/* z-index: -99; */
	left:0;
	pointer-events: none;
	top:0;
}
.neur{
	position:absolute;
	width:2px;
	height:2px;
	/* box-shadow: 0 0 2px 0.5px #33a; */
	background:#33a;
}
.active-neur{
	/* box-shadow: 0 0 3px 0.75px #aac; */
	background:#aac;
}

.neuron-examp-box{
	width:100%;
	background:#000;
	padding-top:100px!important;
	padding-bottom:100px!important;
	min-height:200px;
}
.neuron-examp-box .neuron-examp{
	position: relative;
	left:47%;
	top:45%;
	border-radius: 50%;
	width:30px;
	height:30px;
	background:#55c
}
.neuron-examp-box .neuron-examp.active{
	background:#99d;
}
.neuron-examp-box .neuron-examp .axon{
	transform-origin: 0%;
	position: absolute;
	left:15px;
	top:15px;
	height:2px;
	width:100px;
	background:#55c;
}

[v-cloak]{
	display:none;
}